<footer class="site-footer">
    {% block footer_content %}
        <div class="ps-box-full site-footer-link">
            <div class="container">
                <div class="site-footer-link-content">
                    <a class="site-footer-link-item" href="https://www.kemendagri.go.id/" target="_blank" title="Kementrian Dalam Negeri">
                        <img src="/images/logo-kemendagri.png">
                    </a>
                    <a class="site-footer-link-item" href="https://indonesia.go.id/" target="_blank" title="Portal Indonesia">
                        <img src="/images/logo-indonesia-portal.png">
                    </a>
                    <a class="site-footer-link-item" href="http://data.go.id/" target="_blank" title="Satu Data Indonesia">
                        <img src="/images/logo-satu-data.png">
                    </a>
                    <a class="site-footer-link-item" href="https://diskominfo.landakkab.go.id/" target="_blank" title="Diskominfo Landak">
                        <img src="/images/logo-diskominfo.png">
                    </a>
                </div>
            </div>
        </div>
        <div class="ps-box-full site-footer-address">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-sm-4 col-xs-4 text-center">
                        <img src="/images/favicon.png" class="favicon">
                    </div>
                    <div class="col-md-8 col-sm-8 col-xs-8">
                        <div class="row">
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="address-info">
                                    <strong>Diskominfo Landak</strong><br>
                                    Jl. Raya Ngabang - Pontianak Km 3,<br>
                                    Kabupaten Landak,<br>
                                    Kalimantan Barat 79357
                                    <br><br>

                                    <a href="mailto:diskominfo@landakkab.go.id" title="Hubungi kami melalui email">diskominfo@landakkab.go.id</a>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <ul class="others-link">
                                    <li>
                                        <a href="https://landakkab.go.id" title="Website Resmi Pemerintah Kabupaten Landak" target="_blank">Kabupaten Landak</a>
                                    </li>
                                    <li>
                                        <a href="https://www.facebook.com/profile.php?id=100010084455478" title="Facebook Diskominfo Landak" target="_blank">Facebook</a>
                                    </li>
                                    <li>
                                        <a href="https://www.instagram.com/diskominfo_landak/?hl=id" title="Instagram Diskominfo Landak"
                                            target="_blank">Instagram</a>
                                    </li>
                                    <li>
                                        <a href="https://www.youtube.com/channel/UC4-kZnfv6_s4AkRlb3_khaw" title="Youtube Diskominfo Landak"
                                            target="_blank">Youtube</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ps-box-full site-footer-copyright">
            <div class="site-footer-copyright-content">
                <div class="container">
                    <p>Copyright (c) 2023 Diskominfo Kab. Landak</p>
                </div>
            </div>
        </div>
    {% endblock %}
</footer>